<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Portfolio </title>
    <link rel="stylesheet" href="../public/style.css">
</head> 
<body>
    <header class="menu">
       <nav class="menu_nav">
            <a class="menu_link" href="pagina.html"> Home </a>
            <a class="menu_link" href="characteriscts.html"> About Myself</a>
       </nav>
    </header>
    <main class="second_page">
        
        <ul class="first_list" <title>A little bit about my portfolio</title>
            <title> Some studys that i did in the past</title>
            <li>
                Cisco's Marathon - Network Security

            </li>
            <li>CCNA - 1</li>
            <li> CCNA - 2</li>
            <li>Introduction to Programming with C Language</li>
            <li> Network Computer</li>
            <li>Introduction to Docker</li>
            <li> Windows Server</li>
            
        </ul>
        
       
       
        <ul class="second_list" <title>Courses that i plan to do it in the foreseeable future</title>
            <li> Senac CyberOps</li>
            <li> Cisco CyperOps</li>
            <li> Python Basic to Advanced</li>
            <li> Desec Security</li>
            <li> Java and Groover </li>
            
        </ul>
        
    </main>

    <footer>
        <p class="footer_main"> Developed by Saulo.</p>
    </footer>
</body>
</html>