<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Portfolio </title>
    <link rel="stylesheet" href="/englishproject/public/style.css">
</head> 
<body>
    <header class="menu">
       <nav class="menu_nav">
            <a class="menu_link" href="/englishproject/views/pagina.html"> Home </a>
            <a class="menu_link" href="/englishproject/views/characteriscts.html">About Myself</a>
       </nav>
    </header>
    <main class="apresentation">
        <section class="apresentation_content">
            <h1 class="apresentation_title"> <strong> About Myself </strong> </h1>

            <p class="apresentation_paragraph"> Hi, my name is Saulo, I'm 23 years old. I am from natal and moved here in the beginning  of february 2024 . before I starting writing About
                myself, let me explain how  i ended  up in recife, In the end of december after some stuff that happened, I came to realize that
                i need it something to expend my knowledge then i decided that i wanted to have an degree. So I look at some options in my hometown,
                But i couldn't find any suitable options, especially ones that didn't require the ENEM exam's. after that, I talked to my parents about it.
                and we saw through some options that should be affordable and in a good enviroment, because would be the first time that I was leaving home.
                So we look through it and we ended up choosing brasilia.
                But nothing good in life come easily, So after a year in brasilia and some problems at the university that i studied, i needed to leave.
                But in the end of the second semester my uncle offered me an oportunity to finish my studies in recife. I sincerely couldn't refuse because
                would be a good way to learn more about life and, for the first time I was going to  live by myself.
                
                So about my characteristc, I'm not a good at anything, But i try my best to find something that i could be great or at least good enough.
            </p>
       
            <div class="video">
                <h2 class="myinformation"> Social Medias </h2>
              
                
                <a class='Linkedin' href="https://www.linkedin.com/in/saulo-adones-b7243425b"> 
                    <img src="../imgs/linkedin.png">
                    Linkedin
                </a>

                <a class="Linkedin" href="https://github.com/sauloadones"> 
                    <img src="../imgs/github.png">
                    Github
                </a>

                

            </div>
        </section>
        <img class="myphoto" src="../imgs/foto.jpg" alt="Minha Foto de 2020">

    </main>
    <footer>
        <p class="footer_second"> Developed by Saulo.</p>
    </footer>
</body>
</html>